<ul>
  {{#each tasks}}
    <li>
      <h3>{{this.title}}</h3>
      <p>Категория {{this.category}}</p>
      <p>Стоимость {{this.price}}</p>
      <p>Адрес {{this.address}}</p>
    </li>
  {{/each}}
</ul>
